<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Piazzolla:wght@700&family=Roboto+Condensed&display=swap" rel="stylesheet">
    <title>To Do List</title>
  </head>
  <body>
