html {
  background-color: #AED6F1;
  background-image: -webkit-linear-gradient(-25deg, #AED6F1 20%, #5DADE2 80%);
  /* background-image: -webkit-linear-gradient(-25deg, pink 20%, red 80%); */
  min-height: 1000px;
  /* font-family: 'helvetica neue'; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  color: #fff;
  padding: 10px;
  font-size: 1.3rem;
  font-family: 'Piazzolla', serif;
}

.box {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

#heading {
  margin-top: 100px;
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 16px;
  font-size: 1.2rem;
  font-weight: 200;
  color: #00204a;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  /* padding-bottom: 6px; */
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
